<h2> All Products </h2>


<ul>
  <% listOfProducts.forEach((oneProduct) => { %>
    <li>
      <h3> <%= oneProduct.name %> </h3>
      <p> $<%= oneProduct.price %> </p>

      <!-- Link using URL params -->
      <a href="/products/<%= oneProduct._id %>">
        Details
      </a>
      <br>

      <a href="/products/<%= oneProduct._id %>/edit">
        Edit
      </a>

      <!-- use a form with a button for delete instead of an anchor tag
           so that it can be a (semantically correct) POST route -->
      <form method="post" action="/products/<%= oneProduct._id %>/delete">
        <button> Delete </button>
      </form>
    </li>
  <% }) %>
</ul>
